<html>
<head>
<script>
    window.location.replace("{{{REDIRECT_URL}}}");
</script>
<meta http-equiv="refresh" content="1; url={{{REDIRECT_URL}}}" />
<title>Redirecting</title>
</head>
<body>
<noscript>
<p>Redirecting to <a href="{{{REDIRECT_URL}}}">{{{REDIRECT_URL}}}</a>...</p>
</noscript>
</body>
</html>